html,
body {
    height: 100%;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.main-area {
    flex-grow: 1;
    position: relative;
    display: flex;
    overflow: hidden;
}
.main-area > div {
    flex-grow: 1;
    flex-basis: 0;
}
.file-tab-label {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    line-height: 1em;
}

.file-tab-label .file-path {
    font-size: x-small;
    color: var(--bs-secondary);
}
.text-light .file-tab-label .file-path {
    font-size: x-small;
    color: var(--bs-gray-500);
}

.code-editor {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.code-editor .nav-tabs {
    --bs-nav-tabs-border-color: var(--bs-primary);
    --bs-nav-tabs-border-width: 0px;
    --bs-nav-tabs-border-radius: 0;
    --bs-nav-tabs-link-hover-border-color: var(--bs-gray-500) var(--bs-gray-500)
        var(--bs-primary);
    --bs-nav-tabs-link-active-color: #495057;
    --bs-nav-tabs-link-active-bg: var(--bs-primary);
    --bs-nav-tabs-link-active-border-color: var(--bs-primary) var(--bs-primary)
        var(--bs-secondary);
}

.code-editor .nav-item {
    background-color: var(--bs-gray-300);
}

.file-tabstrip {
    display: flex;
    border-bottom: 1.5px solid var(--bs-primary);
}
.file-tabstrip .btn {
    --bs-btn-border-radius: 0px;
}

.monaco-editor-parent {
    border-left: 1px solid var(--bs-primary);
    border-right: 1px solid var(--bs-primary);
    border-bottom: 1px solid var(--bs-primary);
}
.editor-surround {
    flex-grow: 1;
    position: relative;
    height: 100%;
}

.file-dropper-overlay {
    background-color: rgba(0, 102, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 4ex;
    backdrop-filter: blur(2px);
}
.file-dropper-overlay div {
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 102, 255, 1);
    color: white;
    border: 5px solid white;
    border-radius: 10px;
}

.page-display {
    display: flex;
    flex-direction: column;
}
.page-display .tab-content {
    flex-grow: 1;
    overflow: hidden;
}
.page-display .tab-pane {
    height: 100%;
}
